table {
    border-collapse: collapse;
}
 th {
    border: 1px solid black;
    padding:5px;
    text-align:center;
}
 td {
    border: 1px solid black;
    padding:5px;
    text-align:left;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h2 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h3 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

table {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.content {
    max-width: 1000px;
    margin: auto;
    line-height: 1.6;
}

/* iframe {
    width: 1000px;
    height: 200px;
} */